.landing-page {
    background-image: url('https://www.paperplast.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/f/i/filme-para-estufa-transparente-nortene-anti-uv-6x100-125-micras-62-kg_3_1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  
  .content {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente para melhorar a leitura */
    border-radius: 10px;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .get-started-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #28a745; /* verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: #218838;
  }
  