/* ProductListingPage.css */
.page-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.product-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-rows: repeat(2, auto);  /* 2 linhas */
  gap: 5px; /* Distância de 5px entre os cards tanto na horizontal quanto na vertical */
  justify-items: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  position: relative;
}

.sale-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 6px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #218838;
}
